*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-font: Georgia, serif;
    --secondary-font: 'Times New Roman', serif;
    --primary-color: #1f1137;
    --light-purple: #F3E5FF;
    --offwhite: #C4C4C4;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.quiz {
    background-color: var(--light-purple);
    padding: 25px;
    margin: 50px auto;
    border-radius: 15px;
    text-align: center;
}

.quiz__title {
    padding-bottom: 25px;
    border-bottom: 1px solid var(--primary-color);
    font-family: var(--primary-font);
    font-size: 4rem;
}



.question {
    font-weight: lighter;
    font-size: 2rem;
    padding: 25px;
    color: #1f1137;
    font-family: var(--primary-font);
}

.btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    gap: 5px;
    font-family: var(--secondary-font);
}

.btn:hover:not([disabled]) {
    background-color: var(--offwhite);
}

.btn:disabled {
    cursor: no-drop;
}

.next__btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}